In [3]:
import pandas as pd

df1 = pd.DataFrame({'A': ['a'+str(x) for x in range(3)],
                    'B': ['b'+str(x) for x in range(3)],
                    'C': ['c'+str(x) for x in range(3)]},
                     index=[0, 1, 2])

df2 = pd.DataFrame({'A': ['a'+str(x) for x in range(3, 6)],
                    'B': ['b'+str(x) for x in range(3, 6)],
                    'C': ['c'+str(x) for x in range(3, 6)]},
                     index=[3, 4, 5]) 

df3 = pd.DataFrame({'D': ['d'+str(x) for x in range(3)],
                    'E': ['e'+str(x) for x in range(3)],
                    'F': ['f'+str(x) for x in range(3)]},
                     index=[0, 1, 2]) 

df4 = pd.DataFrame({'D': ['d'+str(x) for x in range(3, 6)],
                    'E': ['e'+str(x) for x in range(3, 6)],
                    'F': ['f'+str(x) for x in range(3, 6)]},
                     index=[3, 4, 5]) 

# display(df1, '\n---\n', df2, '\n---\n', df3, '\n---\n',df4)

In [4]:

one = pd.concat([df1, df2])
two = pd.concat([df3, df4])
result = pd.concat([one, two], axis=1)


# display(one)
# display(two)
display(result)

    A   B   C   D   E   F
0  a0  b0  c0  d0  e0  f0
1  a1  b1  c1  d1  e1  f1
2  a2  b2  c2  d2  e2  f2
3  a3  b3  c3  d3  e3  f3
4  a4  b4  c4  d4  e4  f4
5  a5  b5  c5  d5  e5  f5